[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "libs/recast"]
	path = libs/recast
	url = https://github.com/madyanov/recastnavigation.git
[submodule "libs/stb/stb"]
	path = libs/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/imgui/imgui"]
	path = libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
